body{
  background-color: rgb(93, 146, 146);
}
button{
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(0, 36, 197);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  transition: 1s;
  width: 20%;
  padding: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;

  
}
button:hover{
  background-color: rgb(182, 7, 7);
  color: rgb(205, 219, 7);
  transform: scale(1.05);
}
#n1 , #n2{
  border: none;
  padding: 5px;
}
#sum{
  font-size: 20px;
}
